.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100%/4);
  padding: 20px 40px;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 10px 30px;
  cursor: pointer;
}

.wrapper:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(143, 143, 143, 0.91);
  box-shadow: 0px 0px 15px 5px rgba(143, 143, 143, 0.91);
  transition: 0.2s ease-in-out;
}

.title {
  color: #eb5e28;
  font-weight: 600;
  padding-bottom: 6px;
  font-size: 1.5rem;
  width: 150%;
}

.info {
  font-size: 17px;
  color: #8f8f8f;
  text-align: center;
  padding-bottom: 6px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 12px;
  color: #252422;
}
@media screen and (max-width: 400px) {
  .wrapper .title {
    font-size: 1.13rem;
    width: 200%;
  }
  .wrapper .info {
    font-size: 13px;
  }
}

@media screen and (max-width: 680px) {

  .container {
    padding: 0;
    width: 50%;
  }

  .wrapper {
    height: 100%;
    width: 95%;
  }

  .title {
    font-size: 1.25rem;
    width: 200%;
  }

  .info {
    font-size: 15px;
  }

  .wrapper:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
  }

  .info {
    width: 150%;
  }
}